<!doctype html>
<html>

<head>
    <title>Triggerboard</title>

    <!-- For jquery -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <!-- <script src="/home/alpide/triggerboardv2/software/django/triggerboard_django/templates/webinterface"></script> -->
	

    <!-- For alerts and notifications-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'webinterface/node_modules/noty/lib/noty.css' %}">
    <script src="{% static 'webinterface/node_modules/noty/lib/noty.js' %}"></script>
    <link rel="stylesheet" href="{% static 'webinterface/node_modules/noty/lib/themes/relax.css' %}">
    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>

    {%load plotly_dash%}
    {% plotly_header %}

    <style>

        .container {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            /*height: 100%;*/
            min-height: 100%;
            
            border: 1px solid black;
            font-family:Arial, Helvetica, sans-serif;
        }   

        .busy-box, .ch-box, .pp-box, .tg-box {
            width: 200px;
            /*border: 1px solid black;*/
            float: left;
        }

        .label-box {
            width: 100px;
            float: left;
            font-size: large;
        }

        .channel-name {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: xx-large;
            color:red;
            user-select: none;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .ch-active {
            background-color: darkgreen;
            color: black;
        }

        .channel-inverted {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: large;
            color:black;
            user-select: none;
            margin-top: 10px;
        }

        .channel-delay {
            margin-top: 10px;
            margin-bottom: 10px;
        }


        

        .ch-inv {
            color: blueviolet;
        }

        .disabled {
            color:dimgray;
        }

        .number-inputs {
            height: 30px;
        }
        
        .trigger-div {
            position: relative;
            width: 100%;
            height: 300px;    
        }

        .trigger-element {
            position: absolute;
        }

        .title-bar {
            background-color: #78364a;
            color: aliceblue;
            height: 70px;
            margin: 0px;
            display: flex;
            align-items: center;
            padding-left: 20px;
        }

        .content {
            font-family:Arial, Helvetica, sans-serif;
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            padding-right: 20px;
            width:1100px;
            background-color: rgb(218, 218, 218);
        }

        .tab-bar {
            background-color: rgb(218, 218, 218);
            display: flex;
            flex-direction: row;
            height: 50px;
        }

        .config-tab {
            float: left;
            background-color: #b88d99;
            font-size: x-large;
            height: 50px;
            /*width: 100px;*/
            padding: 10px;

            /* Add some padding and center the text */
            text-align: center;

            /* Round the bottom corners of the button */
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-color: #b88d99;

            /* Add a transition for the transform property */
            transition: transform 0.1s;
        }

        .trigger-counter-toggle-button, .tg-running-start-button {
            background-color: green;
            font-size: x-large;
            height: 50px;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            transition: transform 0.1s;
            border-color: rgb(0, 99, 0);
        }

        .tg-running-stop-button {
            background-color: rgb(170, 41, 18);
            font-size: x-large;
            height: 50px;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            transition: transform 0.1s;
            
            border-color: rgb(119, 14, 0);
        }

        .tg-mask-button {
            background-color: rgb(171, 196, 32);
            font-size: x-large;
            height: 50px;
            width: 300px;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            transition: transform 0.1s;
            
            border-color: rgb(167, 164, 0);
        }

        .tg-running-start-button:active, .tg-running-stop-button:active {
            transform: translateY(10px);
        }

        .alertify-custom-success {
            background-color: #ff0000;
        }

        html, body {
        height: 100%;
        margin: 0;
        }

        .cell {
            width: 50px;
            height: 50px;
            /*border: 1px solid black;*/
            text-align: center;
            vertical-align: middle;
            line-height: 50px;
            cursor: pointer;
            /*padding: 10px;*/
            box-sizing: border-box;
            
        }
        .top-border {
            border-top: 2px solid black;
        }
        .left-border {
            border-left: 1px solid black;
        }
        .right-border {
            border-right: 1px solid black;
        }
        .bottom-border {
            border-bottom: 2px solid black;
        }

        .empty-row::before {
            height: 1em;
            display: table-row;
            content: '';
        }


    </style>

</head>

<body>
    
    <div class="container">
        <div class="title-bar">
            <h1> Triggerboard Interface</h1>
        </div>
        <div class="tab-bar">
            <a href="{% url 'config_view' %}">
                <button class="config-tab">Config</button>
            </a>
            <a href="{% url 'stats_view' %}">
                <button class="config-tab">Stats</button>
            </a>
            <a href="{% url 'counter_view' %}">
                <button class="config-tab">Counter</button>
            </a>
            <a href="{% url 'test_generator_view' %}">
                <button class="config-tab">Test Generator</button>
            </a>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>   
    </div>
    

</body>

{% block js_content %}
{% endblock %}

{% plotly_footer %}
</html>
