{% extends "webinterface/base.html" %}


{% block content %}
<div style="margin-left: 100px;margin-top: 20px;">All time units are in units of 5ns, unless otherwise specified.<br>時間の単位は他に書いてない場合、５ナノ秒の単位です。</div>
<h1>Input:</h1>
<div>
    <div class="label-box">
        <div style="margin-top: 60px;">ThrV:</div>
        <div style="margin-top: 55px;">Delay:</div>
    </div>
    <div data-ch-id="0" class="ch-box"> 
        <div class="ch-in-enable-button channel-name {{ enable_ch0 }}">Ch0</div>
        <div class="channel-vthreshold"> <input type="number" class="number-inputs thr-v" {{ ch0_disabled }} id="ch-input-threshold-IN" value="{{ threshold_channel0 }}"/> </div>
        <div class="ch-input-invert-button channel-inverted 2b-disabled {{ ch0_disabled }} {{ ch0_inverted }}">Inverted</div>
        <div class="channel-delay"> <input type="number" class="number-inputs ch-delay" {{ ch0_disabled }} id="ch-input-delay-gate-IN" value="{{ ch0_delay_value }}"/> </div>
    </div>

    <div data-ch-id="1" class="ch-box"> 
        <div class="ch-in-enable-button channel-name {{ enable_ch1 }}">Ch1</div>
        <div class="channel-vthreshold"> <input type="number" class="number-inputs thr-v" {{ ch1_disabled }} id="ch-input-threshold-IN" value="{{ threshold_channel1 }}"/> </div>
        <div class="ch-input-invert-button channel-inverted 2b-disabled {{ ch1_disabled }} {{ ch1_inverted }}">Inverted</div>
        <div class="channel-delay"> <input type="number" class="number-inputs ch-delay" {{ ch1_disabled }} id="ch-input-delay-gate-IN" value="{{ ch1_delay_value }}"/> </div>
    </div>

    <div data-ch-id="2" class="ch-box"> 
        <div class="ch-in-enable-button channel-name {{ enable_ch2 }}">Ch2</div>
        <div class="channel-vthreshold"> <input type="number" class="number-inputs thr-v" {{ ch2_disabled }} id="ch-input-threshold-IN" value="{{ threshold_channel2 }}"/> </div>  
        <div class="ch-input-invert-button channel-inverted 2b-disabled {{ ch2_disabled }} {{ ch2_inverted }}">Inverted</div>
        <div class="channel-delay"> <input type="number" class="number-inputs ch-delay" {{ ch2_disabled }} id="ch-input-delay-gate-IN" value="{{ ch2_delay_value }}"/> </div>
    </div>

    <div data-ch-id="3" class="ch-box"> 
        <div class="ch-in-enable-button channel-name {{ enable_ch3 }}">Ch3</div>
        <div class="channel-vthreshold"> <input type="number" class="number-inputs thr-v" {{ ch3_disabled }} id="ch-input-threshold-IN" value="{{ threshold_channel3 }}"/> </div>  
        <div class="ch-input-invert-button channel-inverted 2b-disabled {{ ch3_disabled }} {{ ch3_inverted }}">Inverted</div>
        <div class="channel-delay"> <input type="number" class="number-inputs ch-delay" {{ ch3_disabled }} id="ch-input-delay-gate-IN" value="{{ ch3_delay_value }}"/> </div>
    </div>

    <div class="busy-box"> 
        <div class="busy-in-enable-button channel-name {{ busy_enable }}">Busy</div>  
        <div class="busy-input-invert-button channel-inverted 2b-disabled {{ busy_disabled }} {{ busy_inverted }}">Inverted</div>
    </div>
</div>

<div style="width: 100%; margin-top: 30px;">
    <label for="gate-input-length" style="font-size: large;">Gate:</label>
    <input type="number" class="number-inputs gate-width-input" id="ch-input-delay-gate-IN" style="margin-left: 55px;" value="{{ gate_width }}"/>
</div>
<div style="margin: 20px;"></div>
<h1>Trigger:</h1>
<div style="display: flex; margin-top: 10px;">
    <div style="flex-shrink: 0; width: 100px;"> Past <br> Protection:</div>
    <div data-ch-id="0" class="pp-box">
        <div class="channel-pp"> <input type="number" class="number-inputs" id="ch-input-pp-IN" value="{{ ch0_pp }}"/> </div>
    </div>
    <div data-ch-id="1" class="pp-box">
        <div class="channel-pp"> <input type="number" class="number-inputs" id="ch-input-pp-IN" value="{{ ch1_pp }}"/> </div>
    </div>
    <div data-ch-id="2" class="pp-box">
        <div class="channel-pp"> <input type="number" class="number-inputs" id="ch-input-pp-IN" value="{{ ch2_pp }}"/> </div>
    </div>
    <div data-ch-id="3" class="pp-box">
        <div class="channel-pp"> <input type="number" class="number-inputs" id="ch-input-pp-IN" value="{{ ch3_pp }}"/> </div>
    </div>
</div>

<div class="trigger-div" style="margin-top: 60px;">
    <div class="trigger-element", style="font-size: large; top: 0px; left: 0px; width: 100px;">Threshold:</div>
    <div class="trigger-element", style="top: 0px; left: 120px;"> <input type="number" class="number-inputs set-trg-thresh-width" id="threshold-trigger-input-IN"  value="{{ trg_threshold }}"/> </div>
    <div class="trigger-element trigger-invert-button set-trg-inv channel-inverted {{ trg_inv }}", style="top: 0px; left: 600px"> Inverted </div>
    <div class="trigger-element", style="top: 100px; left: 0; font-size: large;">Trigger Signal width:</div>
    <div class="trigger-element", style="top: 100px; left: 200px;"> <input type="number" class="number-inputs set-trg-thresh-width" id="width-trigger-input-IN" value="{{ trg_width }}"/> </div>
    <div class="trigger-element", style="top: 100px; left: 500px; font-size: large;">Dead time:</div>
    <div class="trigger-element", style="top: 100px; left: 700px;"> <input type="number" class="number-inputs" id="dtime-trigger-input-IN" value="{{ trg_dtime}}"/> </div>
</div>
{% endblock %}



{% block js_content %}
<script>
    //window.addEventListener('load', function() {
    //    document.querySelectorAll('.ch-delay')[0].value = document.querySelectorAll('.ch-delay')[0].getAttribute("value"); //Fo this in a loop over all elements for testing for now only first element, add more in the future!
    //});


    
    var loc = window.location;
    var wsStart = 'ws://';
    if (loc.protocol == 'https:') {
        wsStart = 'wss://';
    }
    //var endpoint = wsStart + loc.host + loc.pathname;
    var endpoint = wsStart + loc.host + '/ws/config_updates/';
    //console.log(endpoint);
    //This section is to update on a new entry for the trigger config model
    //It recieves the new data in a json dict (send by the models.py file)
    const socket = new WebSocket(endpoint);
    socket.onmessage = (event) => {
        const data = JSON.parse(event.data);
        
        if (data.enable_busy == 1) {
            $('.busy-in-enable-button').addClass('ch-active');
            $('.busy-input-invert-button').removeClass('disabled');
        } else {
            $('.busy-in-enable-button').removeClass('ch-active');
            $('.busy-input-invert-button').addClass('disabled');
        }
        if (data.inv_busy == 1) {
            $('.busy-input-invert-button').addClass('ch-inv');
        } else {
            $('.busy-input-invert-button').removeClass('ch-inv');
        }

        if (data.enable_inputs_mask & 0b0001) {
            $('div[data-ch-id="0"].ch-box').find('.ch-in-enable-button').addClass('ch-active');
            $('div[data-ch-id="0"].ch-box').find('.2b-disabled').removeClass('disabled');
            $('div[data-ch-id="0"].ch-box').find('.number-inputs').prop('disabled', false);
        } else {
            $('div[data-ch-id="0"].ch-box').find('.ch-in-enable-button').removeClass('ch-active');
            $('div[data-ch-id="0"].ch-box').find('.2b-disabled').addClass('disabled');
            $('div[data-ch-id="0"].ch-box').find('.number-inputs').prop('disabled', true);
        }

        if (data.enable_inputs_mask & 0b0010) {
            $('div[data-ch-id="1"].ch-box').find('.ch-in-enable-button').addClass('ch-active');
            $('div[data-ch-id="1"].ch-box').find('.2b-disabled').removeClass('disabled');
            $('div[data-ch-id="1"].ch-box').find('.number-inputs').prop('disabled', false);
        } else {
            $('div[data-ch-id="1"].ch-box').find('.ch-in-enable-button').removeClass('ch-active');
            $('div[data-ch-id="1"].ch-box').find('.2b-disabled').addClass('disabled');
            $('div[data-ch-id="1"].ch-box').find('.number-inputs').prop('disabled', true);
        }

        if (data.enable_inputs_mask & 0b0100) {
            $('div[data-ch-id="2"].ch-box').find('.ch-in-enable-button').addClass('ch-active');
            $('div[data-ch-id="2"].ch-box').find('.2b-disabled').removeClass('disabled');
            $('div[data-ch-id="2"].ch-box').find('.number-inputs').prop('disabled', false);
        } else {
            $('div[data-ch-id="2"].ch-box').find('.ch-in-enable-button').removeClass('ch-active');
            $('div[data-ch-id="2"].ch-box').find('.2b-disabled').addClass('disabled');
            $('div[data-ch-id="2"].ch-box').find('.number-inputs').prop('disabled', true);
        }

        if (data.enable_inputs_mask & 0b1000) {
            $('div[data-ch-id="3"].ch-box').find('.ch-in-enable-button').addClass('ch-active');
            $('div[data-ch-id="3"].ch-box').find('.2b-disabled').removeClass('disabled');
            $('div[data-ch-id="3"].ch-box').find('.number-inputs').prop('disabled', false);
        } else {
            $('div[data-ch-id="3"].ch-box').find('.ch-in-enable-button').removeClass('ch-active');
            $('div[data-ch-id="3"].ch-box').find('.2b-disabled').addClass('disabled');
            $('div[data-ch-id="3"].ch-box').find('.number-inputs').prop('disabled', true);
        }

        let thres_ch0_V = Math.round((data.thres_ch0 / Math.pow(2, 12) * 4.096 - 2.048) * 1000) / 1000;
        $('div[data-ch-id="0"].ch-box').find('.thr-v').val(Number(thres_ch0_V));
        let thres_ch1_V = Math.round((data.thres_ch1 / Math.pow(2, 12) * 4.096 - 2.048) * 1000) / 1000;
        $('div[data-ch-id="1"].ch-box').find('.thr-v').val(Number(thres_ch1_V));
        let thres_ch2_V = Math.round((data.thres_ch2 / Math.pow(2, 12) * 4.096 - 2.048) * 1000) / 1000;
        $('div[data-ch-id="2"].ch-box').find('.thr-v').val(Number(thres_ch2_V));
        let thres_ch3_V = Math.round((data.thres_ch3 / Math.pow(2, 12) * 4.096 - 2.048) * 100) / 100;
        $('div[data-ch-id="3"].ch-box').find('.thr-v').val(Number(thres_ch3_V));

        $('div[data-ch-id="0"].ch-box').find('.ch-delay').val(Number(data.dgg_delay0));
        $('div[data-ch-id="1"].ch-box').find('.ch-delay').val(Number(data.dgg_delay1));
        $('div[data-ch-id="2"].ch-box').find('.ch-delay').val(Number(data.dgg_delay2));
        $('div[data-ch-id="3"].ch-box').find('.ch-delay').val(Number(data.dgg_delay3));

        $('.gate-width-input').val(Number(data.dgg_width));

        $('div[data-ch-id="0"].pp-box').find('#ch-input-pp-IN').val(Number(data.pp_time0));
        $('div[data-ch-id="1"].pp-box').find('#ch-input-pp-IN').val(Number(data.pp_time1));
        $('div[data-ch-id="2"].pp-box').find('#ch-input-pp-IN').val(Number(data.pp_time2));
        $('div[data-ch-id="3"].pp-box').find('#ch-input-pp-IN').val(Number(data.pp_time3));

        $('div.trigger-div').find('#threshold-trigger-input-IN').val(Number(data.trg_thresh));
        $('div.trigger-div').find('#width-trigger-input-IN').val(Number(data.trg_width));
        $('div.trigger-div').find('#dtime-trigger-input-IN').val(Number(data.trg_dtime));

        if ( data.trg_inv == 1 ) {
            $('div.trigger-div').find('.set-trg-inv').addClass("ch-inv");
        } else {
            $('div.trigger-div').find('.set-trg-inv').removeClass("ch-inv");
        }

    };
    

    function setDisableInputs(ch_items, state) {
        for (var i = 0; i < ch_items.length; i++) {
            var inputs = ch_items[i].querySelectorAll("input");
            for (var j = 0; j < inputs.length; j++) {
                if (state == 1) {
                    inputs[j].disabled = false;
                } else {
                    inputs[j].disabled = true;
                }
            }
        } 
    }


    function toggleDisableInputs(ch_items) {
        for (var i = 0; i < ch_items.length; i++) {
            var inputs = ch_items[i].querySelectorAll("input");
            for (var j = 0; j < inputs.length; j++) {
                if (inputs[0].disabled == true) {
                    inputs[j].disabled = false;
                } else {
                    inputs[j].disabled = true;
                }
            }
        }   
    }
    

    let enable_buttons = document.querySelectorAll(".channel-name");
    for (let i = 0; i < enable_buttons.length; i++) {
        //console.log(i);
        enable_buttons[i].addEventListener("click", function() {
            
            if (enable_buttons[i].classList.contains("ch-active") == false) {
                    enable_buttons[i].classList.add("ch-active");
                } else {
                    enable_buttons[i].classList.remove("ch-active");
                }
            let ch_items = enable_buttons[i].parentElement.children;
            for (let j = 1; j < ch_items.length; j++) {
                if (ch_items[j].classList.contains("2b-disabled")) {
                    if (ch_items[j].classList.contains("disabled") == false) {
                        ch_items[j].classList.add("disabled")
                    } else {
                        ch_items[j].classList.remove("disabled")
                    }
                }
            }
            toggleDisableInputs(ch_items);
        });
    }
    

    let invert_buttons = document.querySelectorAll(".channel-inverted");
    for (let i = 0; i < invert_buttons.length; i++) {
        invert_buttons[i].addEventListener("click", function() {
            if (this.classList.contains("disabled") == false) {
                if (this.classList.contains("ch-inv") == false) {
                    this.classList.add("ch-inv");
                } else {
                    this.classList.remove("ch-inv");
                }
            }
        });
    }



    function get_ch_enable_map() {
        let ch_enable_buttons = document.querySelectorAll(".ch-in-enable-button");
        let sum = 0
        for (let ch_en_button_i = 0; ch_en_button_i < ch_enable_buttons.length; ch_en_button_i++) {
            if (ch_enable_buttons[ch_en_button_i].classList.contains("ch-active")) {
                let ch_id = ch_enable_buttons[ch_en_button_i].closest('div.ch-box').getAttribute('data-ch-id');
                sum += 2**ch_id;
            }
        }
        console.log('Enabling channels: ', sum);
        return sum
    }

    function get_ch_invert_map() {
        let ch_invert_buttons = document.querySelectorAll(".ch-input-invert-button");
        let sum = 0
        for (let ch_inv_button_i = 0; ch_inv_button_i < ch_invert_buttons.length; ch_inv_button_i++) {
            if (ch_invert_buttons[ch_inv_button_i].classList.contains("ch-inv")) {
                let ch_id = ch_invert_buttons[ch_inv_button_i].closest('div.ch-box').getAttribute('data-ch-id');
                sum += 2**ch_id;
            }
        }
        console.log('Inverting channels', sum);
        return sum
    }

    function get_channel_delays() {
        let ch_delay_inputs = document.querySelectorAll('input.ch-delay');
        let ch_delay_array = new Array(4);
        for (let i = 0; i < ch_delay_inputs.length; i++) {
            ch_id = Number(ch_delay_inputs[i].closest('div.ch-box').getAttribute('data-ch-id'));
            ch_delay_array[ch_id] = Number(ch_delay_inputs[i].value);
        }
        return ch_delay_array
    }

    function get_channel_thresholds() {
        let ch_thresholds_inputs = document.querySelectorAll('input.thr-v');
        let ch_thr_array = new Array(4);
        for (let i = 0; i < ch_thresholds_inputs.length; i++) {
            ch_id = Number(ch_thresholds_inputs[i].closest('div.ch-box').getAttribute('data-ch-id'));
            ch_thr_array[ch_id] = Number(ch_thresholds_inputs[i].value);
        }
        console.log("Voltage threshold per channel: ", ch_thr_array)
        return ch_thr_array
    }

    function get_pp_times() {
        let ch_pp_times = document.querySelectorAll('#ch-input-pp-IN');
        let ch_pp_array = new Array(4);
        for (let i = 0; i < ch_pp_times.length; i++) {
            ch_id = Number(ch_pp_times[i].closest('div.pp-box').getAttribute('data-ch-id'));
            ch_pp_array[ch_id] = Number(ch_pp_times[i].value);
        }
        return ch_pp_array
    }

    function popMessage(result, text) {
        console.log("Pop Notification displayed!");
        if ( result == 1 ) {
            new Noty({
                text: text,
                type: "success",
                timeout: '5000',
                theme: 'relax'
            }).show();
        } else {
            new Noty({
                text: "Device didnt respond!",
                type: "warning",
                timeout: '5000',
                theme: 'relax'
            }).show();
        }
    }


    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    function call_trg_inputs() {
        let text_ret = "";
        let success = "";
        let ch_enable_map = get_ch_enable_map();
        let ch_invert_map = get_ch_invert_map();
        let busy_enable = Number(document.querySelector('div.busy-in-enable-button').classList.contains("ch-active"));
        console.log('Enabling BUSY: ', busy_enable);
        let busy_inverted = Number(document.querySelector('div.busy-input-invert-button').classList.contains("ch-inv"));
        console.log('Inverting BUSY: ', busy_inverted); 
        
        $.post('/triggerboard/ch_enable/', { ch_enable_map: ch_enable_map, ch_invert_map: ch_invert_map, busy_enable: busy_enable, busy_inverted: busy_inverted }, 
            function(data) {
                popMessage(data.result, "Channel enable map: " + ch_enable_map + "<br>Channel invert map: " + ch_invert_map + "<br>Busy enable: " + busy_enable + "<br>Busy inv: " + busy_inverted);
            });
        
    }


    $('div.channel-name, div.ch-input-invert-button, div.busy-input-invert-button').click(function() {
        call_trg_inputs();
    });

    //To call the dgg_width_delay function
    $('input#ch-input-delay-gate-IN').on('change', function() {
        let gate_width = document.querySelector('input.gate-width-input').value;
        console.log('Gate width: ', gate_width);
        let ch_delay_array = get_channel_delays();
        console.log('Channel delays: ', ch_delay_array);
        $.post('/triggerboard/dgg_delay_width/', { ch0_delay: ch_delay_array[0], ch1_delay: ch_delay_array[1], ch2_delay: ch_delay_array[2], ch3_delay: ch_delay_array[3], gate_width: gate_width},
         function(data) {
            popMessage(data.result, "Input delays set:<br>Ch0: " + ch_delay_array[0] + "<br>Ch1: " + ch_delay_array[1] + "<br>Ch2: " + ch_delay_array[2] + "<br>Ch3: " + ch_delay_array[3] + "<br> Gate width: " + gate_width);
         });
    })

    //To call the set channel threshold function
    $('input#ch-input-threshold-IN').on('change', function() {
        let ch_threshold_array = get_channel_thresholds();
        console.log('Channel thresholds: ', ch_threshold_array);
        $.post('/triggerboard/thresholds_channel/', { ch0_thres: ch_threshold_array[0], ch1_thres: ch_threshold_array[1], ch2_thres: ch_threshold_array[2], ch3_thres: ch_threshold_array[3]},
         function(data) {
            popMessage(data.result, "Input thresholds set:<br>Ch0: " + ch_threshold_array[0] + "<br>Ch1: " + ch_threshold_array[1] + "<br>Ch2: " + ch_threshold_array[2] + "<br>Ch3: " + ch_threshold_array[3]);
         });
    })

    //To call the set_trg_thresh_inv_width function
    function call_trg_output() {
        let trg_thres = Number(document.querySelector('input#threshold-trigger-input-IN').value);
        let trg_inv = 0;
        if (document.querySelector('div.trigger-invert-button').classList.contains("ch-inv")) {
            trg_inv = 1;
        }
        let trg_width = Number(document.querySelector('input#width-trigger-input-IN').value);
        console.log('TRG:  Thres:', trg_thres, '    Inv: ', trg_inv, '    Width: ', trg_width);
        $.post('/triggerboard/trg_thre_inv_w/', { trg_width: trg_width, trg_inv: trg_inv, trg_thres: trg_thres}, 
        function(data) {
            popMessage(data.result, "Trigger set to:<br>" + "Threshold: " + trg_thres + "<br>Inv: " + trg_inv + "<br>Signal Width: " + trg_width);
        });
    }
    $('.set-trg-thresh-width').on('change', function() {
        call_trg_output()
    })
    $('.set-trg-inv').click(function() {
        call_trg_output()
    })

    //To call set_trg_dtime function
    $('#dtime-trigger-input-IN').on('change', function() {
        let trg_dtime = Number(document.querySelector('#dtime-trigger-input-IN').value);
        console.log('TRG: dtime: ', trg_dtime);
        $.post('/triggerboard/trg_dtime/', { trg_dtime: trg_dtime}, 
        function(data) {
            popMessage(data.result, "Trg dead time: " + trg_dtime);
        });
    })

    //To call the set_ch_pp_time function
    $('input#ch-input-pp-IN').on('change', function() {
        let ch_pp_array = get_pp_times();
        console.log('TRG: PP-times: ', ch_pp_array);
        $.post('/triggerboard/ch_pp_time/', { ch0_pp: ch_pp_array[0], ch1_pp: ch_pp_array[1], ch2_pp: ch_pp_array[2], ch3_pp: ch_pp_array[3]}, 
        function(data) {
            popMessage(data.result, "Past protection time:<br>Ch0: " + ch_pp_array[0] + "<br>Ch1: " + ch_pp_array[1] + "<br>Ch2: " + ch_pp_array[2] + "<br>Ch3: " + ch_pp_array[3]);
        });
    })
    
</script>
{% endblock %}
