{% extends "webinterface/base.html" %}

{% block content %}
<h1>Counter settings:</h1>
<div>
    <button class="trigger-counter-toggle-button start">{{ counter_daq_running }}</button>
</div>
<div>
    
    {%load plotly_dash%}
    {%plotly_direct name="counters"%}
</div>
{% endblock %}

{% block js_content %}
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    var loc = window.location;
    var wsStart = 'ws://';
    if (loc.protocol == 'https:') {
        wsStart = 'wss://';
    }
    var endpoint_counter_update = wsStart + loc.host + '/ws/counter_updates/';
    //console.log(endpoint_counter_update);
    const socket_counter_updates = new WebSocket(endpoint_counter_update);
    socket_counter_updates.onmessage = (event) => {
        const data = JSON.parse(event.data);
        //console.log(data);
        // Assume `graphDiv` is the DOM element that contains your Plotly graph
        // and `newData` is an object containing the new data point
        var graphDivList = document.querySelectorAll('div.js-plotly-plot');
        

        for (var i=0; i < graphDivList.length; i++) {
            //console.log(graphDivList[i].parentElement.id);
            var newData = {x: data.timestamp, y: data[graphDivList[i].parentElement.id]*200000000/(data.counter_prescale*data.counter_endtime)};
            // Get the current data from the Plotly graph
            var currentData = graphDivList[i].data;

            // Update the current data with the new data point
            //console.log('Before push: ', currentData[0].x);
            currentData[0].x.unshift(newData.x);
            currentData[0].y.unshift(newData.y);
            currentData[0].x.pop();
            currentData[0].y.pop();
            //console.log('After push: ', currentData[0].x);
            //Put the new data in an array
            var newData = {x: [currentData[0].x], y: [currentData[0].y]};

            // Redraw the Plotly graph with the updated data
            Plotly.update(graphDivList[i], newData);
        }
        

    }

    var endpoint_counter_new = wsStart + loc.host + '/ws/counterTask_new/';
    const socket_counter_new = new WebSocket(endpoint_counter_new);
    socket_counter_new.onmessage = (event) => {
        const data = JSON.parse(event.data);
        //console.log("Task counter update!")
        if (JSON.parse(data).task_id != "None") {
            $('button.trigger-counter-toggle-button').text("Stop counter");
        } else {
            $('button.trigger-counter-toggle-button').text("Start counter");
        }
    }

    $('button.trigger-counter-toggle-button').click(function () {
        console.log($(this).text());
        if ( $(this).text() == 'Start counter') {
            $.post('/triggerboard/start_counter/', {}, function() {});
            $(this).text('Stop counter');

            //Set the view window to 60 seconds only, for perfomance reasons
            if ( Number($('#input_timerange').val()) > 1000 ) {
                $('#input_timerange').val(60);
                new Noty({
                    text: "Reduced number of view seconds to 60, dynamically too big otherwise",
                    type: "error",
                    timeout: '5000',
                    theme: 'relax'
                }).show();
            }

            var graphDivList = document.querySelectorAll('div.js-plotly-plot');
            for (var i=0; i < graphDivList.length; i++) {
                var currentData = graphDivList[i].data;
                //console.log(graphDivList[i].data[0].x);
                //console.log("Current data in plot ", i, ": ", currentData);
                var current_time = new Date().toISOString();

                let now = new Date();
                let timeframes = [];
                for (let i = 60; i >= 0; i--) {
                    let timeframe = new Date(now.getTime() - i * 1000).toISOString();
                    timeframes.push(timeframe);
                }
                //console.log("To be filled with... ", timeframes);
                //console.log(Number($('#input_timerange').val()));
                //graphDivList[i].data[0].x = new Array(Number($('#input_timerange').val())).fill(current_time);
                currentData[0].x = timeframes;
                //graphDivList[i].data[0].y = new Array(Number($('#input_timerange').val())).fill(0);
                let zeros = new Array(timeframes.length).fill(0);
                currentData[0].y = zeros;
                var newData = {x: [currentData[0].x], y: [currentData[0].y]};
                Plotly.update(graphDivList[i], newData);
                //console.log("New time list: ",graphDivList[i].data[0].x);
            }
            
            
        } else {
            $.post('/triggerboard/stop_counter/', {}, function() {});
            $(this).text('Start counter');
        }
    })
</script>
{% endblock %}
