{% extends "webinterface/base.html" %}

{% block content %}
<div style="display: flex; align-items: center;">
    <h1>Test Generator</h1>
    <div style="flex-grow:1"></div>
    <div style="margin-right: 10px;">
        <button class="tg-running-start-button start">Start test generator</button>
    </div>
    <div>
        <button class="tg-running-stop-button start">Stop test generator</button>
    </div>
</div>

<h2>Channel masks:</h2>
<div style="display: flex;">
    <h3 style="margin-right: 10px;">Mask 1:</h3>
    <table id="mask0" style="border-spacing: 0px;">
        <tbody>
            <tr id="tg-ch0">
                <td id="0" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="1" class="cell bottom-border" onclick="toggleCell(this)">1</td>
                <td id="2" class="cell bottom-border" onclick="toggleCell(this)">1</td>
                <td id="3" class="cell bottom-border" onclick="toggleCell(this)">1</td>
                <td id="4" class="cell bottom-border" onclick="toggleCell(this)">1</td>
                <td id="5" class="cell bottom-border" onclick="toggleCell(this)">1</td>
                <td id="6" class="cell bottom-border" onclick="toggleCell(this)">1</td>
                <td id="7" class="cell bottom-border" onclick="toggleCell(this)">0</td>
            </tr>
        </tbody>
        <tbody class="empty-row"></tbody>
            <tr id="tg-ch1">
                <td id="0" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="1" class="cell bottom-border" onclick="toggleCell(this)">1</td>
                <td id="2" class="cell bottom-border" onclick="toggleCell(this)">1</td>
                <td id="3" class="cell bottom-border" onclick="toggleCell(this)">1</td>
                <td id="4" class="cell bottom-border" onclick="toggleCell(this)">1</td>
                <td id="5" class="cell bottom-border" onclick="toggleCell(this)">1</td>
                <td id="6" class="cell bottom-border" onclick="toggleCell(this)">1</td>
                <td id="7" class="cell bottom-border" onclick="toggleCell(this)">0</td>
            </tr>
        </tbody>
        <tbody class="empty-row"></tbody>
            <tr id="tg-ch2">
                <td id="0" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="1" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="2" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="3" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="4" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="5" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="6" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="7" class="cell bottom-border" onclick="toggleCell(this)">0</td>
            </tr>
        </tbody>
        <tbody class="empty-row"></tbody>
            <tr id="tg-ch3">
                <td id="0" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="1" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="2" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="3" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="4" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="5" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="6" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="7" class="cell bottom-border" onclick="toggleCell(this)">0</td>
            </tr>
        </tbody>
    </table>
    <div style="flex-grow:1"></div>
    <h3 style="margin-right: 10px;">Mask 2:</h3>
    <table id="mask1" style="border-spacing: 0px; margin-right: 10px;">
        <tbody>
            <tr id="tg-ch0">
                <td id="0" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="1" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="2" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="3" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="4" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="5" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="6" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="7" class="cell bottom-border" onclick="toggleCell(this)">0</td>
            </tr>
        </tbody>
        <tbody class="empty-row"></tbody>
            <tr id="tg-ch1">
                <td id="0" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="1" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="2" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="3" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="4" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="5" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="6" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="7" class="cell bottom-border" onclick="toggleCell(this)">0</td>
            </tr>
        </tbody>
        <tbody class="empty-row"></tbody>
            <tr id="tg-ch2">
                <td id="0" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="1" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="2" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="3" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="4" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="5" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="6" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="7" class="cell bottom-border" onclick="toggleCell(this)">0</td>
            </tr>
        </tbody>
        <tbody class="empty-row"></tbody>
            <tr id="tg-ch3">
                <td id="0" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="1" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="2" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="3" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="4" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="5" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="6" class="cell bottom-border" onclick="toggleCell(this)">0</td>
                <td id="7" class="cell bottom-border" onclick="toggleCell(this)">0</td>
            </tr>
        </tbody>
    </table>
</div>
<div style="align-items: center; width: 100%; display: flex; justify-content: center; margin-top: 20px;">
    <button class="tg-mask-button">Set masks</button>
</div>
<h2>Settings:</h2>
<div style="display: flex; align-items: center;">
    <div>Distance:</div>
    <div class="tg-box" style="margin-left: 10px; margin-right: 30px;">
        <div> <input type="number" class="number-inputs" id="tg-distance-IN" value="100"/> </div>
    </div>
    <div>
        Frequency [Hz]:<br>
        (min 3052)
    </div>
    <div class="tg-box" style="margin-left: 10px; margin-right: 30px;">
        <div> <input type="number" class="number-inputs" id="tg-freq-IN" value="10000"/> </div>
    </div>
    <div>
        Repetitions:<br>
        (inf -> max)
    </div>
    <div class="tg-box" style="margin-left: 10px; margin-right: 30px;">
        <div> <input type="text" class="number-inputs" id="tg-repetition-IN" value="max"/> </div>
    </div>
</div>
{% endblock %}




{% block js_content %}
<script>

    $(".cell").each(function() {
        updateCellBorder(this, 1);
    })

    function updateCellBorder(element, origin) {
        // Add or remove top border based on cell value
        if (element.textContent === '1') {
            element.classList.add('top-border');
            element.classList.remove('bottom-border');
        } else {
            element.classList.remove('top-border');
            element.classList.add('bottom-border');
        }

        // Get neighboring cells
        //var prevElement = document.getElementById((parseInt(element.id) - 1).toString());
        //var nextElement = document.getElementById((parseInt(element.id) + 1).toString());
        var prevElement = element.previousElementSibling;
        var nextElement = element.nextElementSibling;
        let prevElementContent = 0;
        let nextElementContent = 0;
        if (prevElement) {
            if (origin == '1') {
                updateCellBorder(prevElement, 0);
            }
            prevElementContent = prevElement.textContent;
        } else {
            prevElementContent = 3;
        }

        if (nextElement) {
            if (origin == '1') {
                updateCellBorder(nextElement, 0);
            }
            nextElementContent = nextElement.textContent;
        } else {
            nextElementContent = 3;
        }
        

        // Add or remove side borders based on neighboring cell values
        if (prevElement && prevElementContent === '1') {
            if (element.textContent === '0') {
                element.classList.add('left-border');
            } else {
                element.classList.remove('left-border');
            }
        } else  if (prevElementContent === '0') {
            if (element.textContent === '0') {
                element.classList.remove('left-border');
            } else {
                element.classList.add('left-border');
            }
        }


        
        if (nextElement && nextElementContent === '1') {
            if (element.textContent === '0') {
                element.classList.add('right-border');
            } else {
                element.classList.remove('right-border');
            }
        } else if (nextElementContent === '0') {
            if (element.textContent === '0') {
                element.classList.remove('right-border');
            } else {
                element.classList.add('right-border');
            }
        }
    }
    function toggleCell(element) {
        // Toggle cell value
        element.textContent = element.textContent === '0' ? '1' : '0';

        

        
        updateCellBorder(element, 1);
        
    }


    function popMessage(result, text) {
        console.log("Pop Notification displayed!");
        if ( result == 1 ) {
            new Noty({
                text: text,
                type: "success",
                timeout: '5000',
                theme: 'relax'
            }).show();
        } else {
            new Noty({
                text: "Device didnt respond!",
                type: "warning",
                timeout: '5000',
                theme: 'relax'
            }).show();
        }
    }

    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    //To call the tg_dist_per function
    $('input#tg-distance-IN, input#tg-freq-IN').on('change', function() {
        let tg_dist = Number(document.querySelector('#tg-distance-IN').value);
        let tg_freq = Number(document.querySelector('#tg-freq-IN').value);
        let tg_per = Math.round(1/tg_freq * 0.2 * Math.pow(10, 9));
        console.log('TG: Distance: ', tg_dist, 'Period: ', tg_per);
        $.post('/triggerboard/tg_dist_per/', { tg_dist: tg_dist, tg_per: tg_per}, 
        function(data) {
            popMessage(data.result, "Test generator:<br>Distance: " + tg_dist + "<br>Period: " + tg_per);
        });
    })

    function get_tg_repetitions() {
        let tg_rep = 0;
        let tg_rep_alphaNum = document.querySelector('#tg-repetition-IN').value;
        console.log(tg_rep_alphaNum);
        if (tg_rep_alphaNum == 'max') {
            tg_rep = 16777216;
        } else {
            tg_rep = Number(tg_rep_alphaNum);
        }
        //let tg_rep = Number(document.querySelector('#tg-repetition-IN').value);
        console.log('TG: Repetitions: ', tg_rep);
        return tg_rep
    }

    //To call the tg_rep function
    $('input#tg-repetition-IN, button#tg-running-start-button').on('change', function() {
        let tg_rep = get_tg_repetitions();
        console.log('TG: Repetitions: ', tg_rep);
        $.post('/triggerboard/tg_rep/', { tg_rep: tg_rep}, 
        function(data) {
            popMessage(data.result, "Test generator:<br>Repetition: " + tg_rep);
        });
    })

    //Button to start test generator
    $('button.tg-running-start-button').on('click', function() {
        let tg_rep = get_tg_repetitions();
        $.post('/triggerboard/tg_ctrl/', {tg_enable: 1,  tg_rep: tg_rep},
        function(data) {
            popMessage(data.result, "Started test generator!")
        })
        console.log('Starting test generator!')
    })

    //Button to stop test generator
    $('button.tg-running-stop-button').on('click', function() {
        let tg_rep = get_tg_repetitions();
        $.post('/triggerboard/tg_ctrl/', {tg_enable: 0,  tg_rep: tg_rep},
        function(data) {
            popMessage(data.result, "Stopped test generator!")
        })
        console.log('Stopping test generator!')
    })

    //This lsitens for the mask button and gets the mask values
    $('button.tg-mask-button').on('click', function() {
        var binaryString = '';
        $('#mask0 tr').each(function() {
            var sub_binaryString = '';
            $(this).find('td').each(function() {
                sub_binaryString += $(this).text();
            });
            //console.log("Sub binary", sub_binaryString);
            binaryString = sub_binaryString + binaryString;
        });
        
        console.log("Binary Mask0: ", binaryString);
        let hexMask0 = parseInt(binaryString, 2).toString(16);

        var binaryString = '';
        $('#mask1 tr').each(function() {
            var sub_binaryString = '';
            $(this).find('td').each(function() {
                sub_binaryString += $(this).text();
            });
            //console.log("Sub binary", sub_binaryString);
            binaryString = sub_binaryString + binaryString;
        });
        console.log("Binary Mask1: ", binaryString);
        let hexMask1 = parseInt(binaryString, 2).toString(16);


        console.log("Sending masks 0: 0x"+hexMask0+ "   1: 0x"+hexMask1);

        $.post('/triggerboard/tg_mask/', {hexMask0: hexMask0,  hexMask1: hexMask1},
        function(data) {
            popMessage(data.result, "Set tg masks to<br>Mask0: "+hexMask0+"<br>Mask1:"+hexMask1)
        })

    })

</script>
{% endblock %}